# LegalLens Frontend Environment Variables
# In Vercel, add this key in Settings -> Environment Variables

# URL of your live Python FastAPI backend (Default for local development is http://localhost:8001)
NEXT_PUBLIC_API_URL=http://localhost:8001
